In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")
df.head()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [8]:
df.to_json ('new.json')

In [11]:
df1 = pd.read_json('https://raw.githubusercontent.com/LearnWebCode/json-example/master/animals-1.json')
df1

       name species                                              foods
0    Meowsy     cat  {'likes': ['tuna', 'catnip'], 'dislikes': ['ha...
1     Barky     dog  {'likes': ['bones', 'carrots'], 'dislikes': ['...
2  Purrpaws     cat       {'likes': ['mice'], 'dislikes': ['cookies']}